<main class="container p-5 text-center">
  <div class="">
    <i class="bi bi-star-fill bi-lg fs-3 text-warning"></i>
    <i class="bir bi-star-fill fs-1 text-warning"> </i>
    <i class="bi bi-star-fill fs-3 text-warning"></i>
  </div>
  <h1 class="mb-4">Gerador Mega-Sena</h1>
  <div class="d-flex gap-3 align-items-center justify-content-center mb-4">
    <button
      class="btn btn-outline-primary rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[0] }}
    </button>
    <button
      class="btn btn-outline-secondary rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[1] }}
    </button>
    <button
      class="btn btn-outline-success rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[2] }}
    </button>
    <button
      class="btn btn-outline-danger rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[3] }}
    </button>
    <button
      class="btn btn-outline-warning rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[4] }}
    </button>
    <button
      class="btn btn-outline-info rounded-circle p-3"
      style="width: 100px; height: 100px"
    >
      {{ number[5] }}
    </button>
  </div>
  <div class="">
    <span class="fw-bold fs-6 mb-3">Clique em gerar jogo!</span>
    <br />
    <button class="btn btn-outline-danger mt-3" (click)="megaSena()">
      Gerar jogo
    </button>
  </div>
</main>
